body {
  font-family: "Roboto", sans-serif;
}

/* Navbar Section */

nav {
  display: flex;
  justify-content: space-between;
  padding: 19px;
  font-weight: 600;
}
.cart-btn-container {
  width: 26px;
  margin-right: 15px;
}
.left-bar-item {
  width: 26px;
}
.logo a {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.3em;
}

/* main content */
.menu-items {
  display: none;
}
.shop-image img {
  display: block;
  margin: 0 auto;
  width: 80%;
}
.content {
  margin: 32px 0;
  padding: 0 24px;
}
.detail h1 {
  font-size: 20px;
  line-height: 24px;
}
.price {
  font-size: smaller;
  margin: 12px 0 32px;
  color: #757575;
}

.pickers {
  display: flex;
  flex-direction: column;
}
.size {
  border-top: 1px solid #757575;
  border-bottom: 1px solid #757575;
  padding: 16px 24px 16px 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.size label {
  position: absolute;
  left: 0;
  color: #757575;
  line-height: 16px;
}
.size select {
  width: 100%;
  outline: none;
  border: none;
  background-color: white;
  font-size: smaller;
}
.quantity {
  /* border-top: 2px solid grey; */
  border-bottom: 1px solid #757575;
  padding: 16px 24px 16px 70px;
  position: relative;
}
.quantity label {
  position: absolute;
  left: 0;
  color: #757575;
  line-height: 16px;
}
.quantity select {
  width: 100%;
  outline: none;
  border: none;
  background-color: white;
  font-size: smaller;
}
.description {
}
.description > h2 {
  margin: 16px 0;
  font-size: 13px;
}
.description > p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #757575;
}
.description > h5 {
  color: #757575;
}
.description > ul {
  color: #757575;
}

.detail button {
  background-color: #172c50;
  border: none;
  color: white;
  padding: 20px;
  width: 100%;
  /* height: 100%; */
  font-size: 15px;
  position: fixed;
  bottom: 0;
}

/* Footer Section */

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
footer > button {
  width: 120px;
  padding: 6px;
  margin: 8px auto 0;
  color: white;
  background-color: black;
}
.t-shirts .t-shirt-btn {
  width: 120px;
  border: 2px solid black;
  padding: 8px 10px;
}
footer a {
  color: #757575;
  font-size: 14px;
}

@media (min-width: 768px) {
  .item {
    display: block;
  }
  .left-bar-item {
    display: none;
  }
  .logo {
    margin: 0 auto;
  }
  .menu-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
    height: 68px;
  }
  .menu-items a {
    margin: 0 25px;
    font-size: 14px;
    font-weight: 300;
  }

  main {
    display: flex;
    flex-direction: row;
  }
  .shop-image {
    width: 50%;
    padding-top: 85px;
  }
  .detail{
    width: 50%;
    margin: 64px 32px;
    max-width: 450px;
  }
  .detail button{
    position: relative;
    padding: 8px 44px;
    color: #202020;
    background-color: #ffff;
    border: 2px solid #000;
    background-color: #FFF;
    font-size: 14px;
    font-weight: 500;
    width: 190px;
    text-transform: uppercase;
    margin-left: 30px;
  }
}
