body {
  font-family: "Roboto", sans-serif;
}
* {
  padding: 0;
  margin: 0;
}
/* Navbar Section */

nav {
  display: flex;
  justify-content: space-between;
  padding: 19px;
  font-weight: 600;
}
.cart-btn-container {
  width: 26px;
  margin-right: 15px;
}
.left-bar-item {
  width: 26px;
}
.logo a {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.3em;
}

/* Main content */
.footer {
  display: none;
}
.empty-cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #757575;
  align-items: center;
  text-align: center;
}
.empty-cart {
  display: none;
}

header {
  text-align: center;
  padding-right: 22px;
}
header h1 {
  font-size: 15px;
  font-weight: 400;
}

header span {
  font-size: 12px;
  color: #757575;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0px 24px 48px 24px;
}
.biling-add,
.shipping-add,
.account-add p {
  font-size: 13px;
  padding: 10px 0;
  font-weight: 600;
}
.input-check {
  padding: 12px 0;
  gap: 5px;
  font-weight: 400;
  height: 40px;
}
.input-check input {
  width: 20px;
}
.selector {
  border: none;
  border-bottom: 2px solid gray;
  width: 100%;
  height: 30px;
  background: transparent;
}
.input-card-expiry {
  align-items: center;
  justify-content: space-evenly;
  column-gap: 5px;
}
.input-card-expiry select {
  height: 30px;
  width: 50%;
  border: none;
  border-bottom: 2px solid gray;
  background-color: transparent;
}
.payment-info h2 {
  font-size: 13px;
  padding: 10px 0;
  font-weight: 600;
}
.payment-info .shipping-add,
.account-add,
.account-info {
  display: flex;
  flex-direction: column;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.input {
  height: 30px;
  width: 100%;
  position: relative;
  /* margin-bottom: 20px; */
}
.input input {
  margin-top: 51px;
  /* height: 100%; */
  width: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  border-bottom: 2px solid rgb(156, 156, 156);
}
.input input:focus ~ span,
.input input:valid ~ span {
  transform: translateY(-25px);
}
.input input:focus ~ input {
  border: none;
  border-bottom: 2px solid rgb(105, 103, 103);
}
.input span {
  position: absolute;
  bottom: 10px;
  left: 0;
  transition: 0.2s;
  color: #757575;
  font-weight: 300;
  pointer-events: none;
  transition: all 0.3s ease;
}
.underline {
  position: absolute;
  bottom: 3px;
  height: 2px;
  width: 100%;
}

.underline::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: black;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.input input:focus ~ .underline::before{
  transform: scaleX(1);
}
.input {
  height: 76px;
  position: relative;
  width: 100%;
}
.input span {
  bottom: 13px;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.country {
  padding-top: 21px;
  color: #7f7f7f;
}
.input-card-cvv {
  bottom: 12px;
}
.order-summary {
  gap: 5px;
  font-size: smaller;
}
.total {
  padding-top: 10px;
  justify-content: space-between;
  line-height: 24px;
  color: gray;
}
.order-detail {
  justify-content: space-between;
  gap: 5px;
  line-height: 24px;
  color: gray;
}
.submit-btn {
  width: 100%;
  height: 70px;
  background: #172c50;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  text-transform: uppercase;
}

/* Footer Styling */
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
footer > button {
  width: 120px;
  padding: 6px;
  margin: 8px auto 0;
  color: white;
  background-color: black;
}
footer a {
  color: #757575;
  font-size: 14px;
}

@media (min-width: 768px) {
  .left-bar-item {
    visibility: hidden;
  }
  header {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .page {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
  }
  .submit-btn {
    width: 160px;
    height: 36px;
    position: static;
    padding: 8px 19px;
    background-color: transparent;
    color: black;
    text-transform: uppercase;
    margin-top: 25px;
  }
  .footer {
    display: flex;
  }
}
