body {
  font-family: "Roboto", sans-serif;
}

/* Navbar Section */

nav {
  display: flex;
  justify-content: space-between;
  padding: 19px;
  font-weight: 700;
}
.cart-btn-container {
  width: 26px;
  margin-right: 15px;
}
.left-bar-item {
  width: 26px;
}
.logo a {
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 0.3em;
}

/* Main body section */
.image-link img {
  height: 242px;
  object-fit: cover;
}
.menu-items {
  display: none;
}
.item {
  text-align: center;
  margin-bottom: 40px;
}
.item h2 {
  font-size: 1em;
  font-weight: 300;
  margin: 24px 0;
}
.item button {
  border: 2px solid black;
  padding: 8px 44px;
  font-size: 0.9em;
}

.t-shirts {
  display: flex;
  flex-direction: row;
}
/* Footer Section */

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
footer > button {
  width: 120px;
  padding: 6px;
  margin: 8px auto 0;
  color: white;
  background-color: black;
}
.t-shirts .t-shirt-btn {
  width: 120px;
  border: 2px solid black;
  padding: 8px 10px;
}
footer a {
  color: #757575;
  font-size: 14px;
}
/* Responsive for above 768px Tablte view */

@media (min-width: 768px) {
  .left-bar-item {
    display: none;
  }
  .logo {
    margin: 0 auto;
  }
  .menu-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 68px;
  }
  .menu-items a {
    margin: 0 25px;
    font-size: 14px;
    font-weight: 300;
  }
  .image-link {
    height: 320px;
  }
  .image-link img {
    height: 323px;
    object-fit: cover;
  }
  .cart-btn-container {
    width: 26px;
    margin-right: 15px;
  }
}

/* Responsive for Desktop Version */
@media (min-width: 1440px) {
  .t-shirts {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
  }
  .cart-btn-container {
    width: 26px;
    margin-right: 15px;
  }
}
