body {
  font-family: "Roboto", sans-serif;
}

/* Navbar Section */

nav {
  display: flex;
  justify-content: space-between;
  padding: 19px;
  font-weight: 600;
}
.cart-btn-container {
  width: 26px;
  margin-right: 15px;
}
.left-bar-item {
  width: 26px;
}
.logo a {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.3em;
}

/* header */
.item,
.menu-items {
  display: none;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header h1 {
  font-size: 14px;
  margin: 0 0 4px 0;
  /* font-size: 1.3em; */
  /* font-weight: 500; */
}
header p {
  color: #757575;
  font-size: smaller;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 10px 32px 10px;
  justify-content: center;
}
section {
  padding: 15px;
  width: 50%;
  padding: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section h1 {
  font-size: 1em;
  font-weight: 300;
  margin: 24px 0;
}
section h1 {
  color: #202020;
  font-weight: bold;
  font-size: 14px;
  padding: 2px 21px;
  line-height: 1.5;
  text-align: center;
}
section p {
  color: #767676;
  text-align: center;
  font-size: smaller;
}

/* Footer Section */

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
footer > button {
  width: 120px;
  padding: 6px;
  margin: 8px auto 0;
  color: white;
  background-color: black;
}
.t-shirts .t-shirt-btn {
  width: 120px;
  border: 2px solid black;
  padding: 8px 10px;
}
footer a {
  color: #757575;
  font-size: 14px;
}

@media all and (min-width: 768px) {
  .item {
    display: block;
  }
  .left-bar-item {
    display: none;
  }
  .logo {
    margin: 0 auto;
  }
  .menu-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
    height: 68px;
  }
  .menu-items a {
    margin: 0 25px;
    font-size: 14px;
    font-weight: 300;
  }
  .image-link {
    height: 320px;
  }
  .image-link img {
    height: 323px;
    object-fit: cover;
  }
  header h1 {
    font-size: 19px;
    margin: 21px 0 9px 0px;
  }
  header p {
    color: #757575;
    font-size: smaller;
    padding-bottom: 10px;
  }
  section{
    width: 33%;
  }
  main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
