body {
  font-family: "Roboto", sans-serif;
}
* {
  padding: 0;
  margin: 0;
}
/* Navbar Section */

nav {
  display: flex;
  justify-content: space-between;
  padding: 19px;
  font-weight: 600;
}
.cart-btn-container {
  width: 26px;
  margin-right: 15px;
}
.left-bar-item {
  width: 26px;
}
.logo a {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.3em;
}

/* Main content */
.footer {
  display: none;
}
header {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  text-align: center;
  padding-right: 22px;
}
header h1 {
  font-size: 15px;
  font-weight: 200;
}

header span {
  font-size: 12px;
  color: #757575;
}
.item-image img {
  width: 72px;
  min-width: 72px;
  padding-top: 25px;
}
.list{
  max-width: 900px;
  margin: 0 auto;
}
.name {
  margin-top: 16px;
  font-size: smaller;
  margin-right: 0;
  max-width: 145px;
  height: 12px;
  overflow: hidden;
  color: rgb(73, 73, 73);
}
.name a {
  overflow: hidden;
  font-size: small;
}
.list {
  display: flex;
  flex-direction: row;
  padding: 0 24px 20px 24px;
  /* border: 2px solid green; */
}
.details {
  display: flex;
  flex-direction: column;
  margin: 26px 10px 0 15px;
  font-size: smaller;
  /* border: 2px solid blue; */
  width: 100%;
  position: relative;
  color: #757575;
}
.quantity {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 25px;
  padding: 27px 0;
  font-size: smaller;
  /* border: 2px solid red; */
}
.qty select {
  border: none;
  font-size: larger;
  background-color: white;
}
.delete-button button {
  position: absolute;
  top: 12px;
  right: 0;
  width: 18px;
  background-color: white;
  border: none;
  outline: none;
}
.total {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 10px 33px 0 15px;
  gap: 15px;
  font-size: small;
  font-weight: 900;
}
.total span{
  padding-bottom: 80px;
}

.checkout-button {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  right: 0;
  font-size: large;
} 
.checkout-button button {
  height: 64px;
  text-transform: uppercase;
  width: 100%;
  background-color: #172C50;
  color: white;
}
/* Footer Section */

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
footer > button {
  width: 120px;
  padding: 6px;
  margin: 8px auto 0;
  color: white;
  background-color: black;
}
.t-shirts .t-shirt-btn {
  width: 120px;
  border: 2px solid black;
  padding: 8px 10px;
}
footer a {
  color: #757575;
  font-size: 14px;
}

@media (max-width: 360px) {
  .quantity {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
    padding: 10px 0;
  }

  .delete-button {
    right: 0;
  }
}

@media (min-width: 768px) {
  .details{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .left-bar-item{
    visibility: hidden;
  }
  .name{
    margin: 0;
  }
  .delete-button button{
    position: static;
  }
  .total{
    display: flex;
    flex-direction: row;
    padding: 0 24px 20px 24px;
    max-width: 900px;
    margin: 0 auto;
    /* /* border: 2px solid green; */
  }
  .checkout-button {
    position: static;
    width: 170px;
    height: 41px;
    padding-right: 90px;
    padding-left: 48px;
  }
  .checkout-button button{
    background-color: white;
    color: #757575;
    border: 2px solid #757575;
    position: static;
    width: 113px;
    height: 28px;
  }
  .footer{
    display: flex;
  }
}